@model ice_cream.Models.Category

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Create</title>
</head>
<body class="container col-md-6">
    @using (Html.BeginForm("Create", "Category", FormMethod.Post))
    {


        <h4>Thêm mới sản phẩm</h4>
        <hr />
        <div class="container-fluid">
            <div class="form-control">

                <b> @Html.Label("Tên Danh Mục")</b>
                <br />
                @Html.ValidationMessage("Loitrungten", new { @class = "text-danger" })
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                <br />
                <b> @Html.Label("Mô tả", htmlAttributes: new { @class = "control-label col-md-2" })</b>

                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })


            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary" value="Create" style="margin-top:10px;" >Thêm mới</button>
                </div>
            </div>
        </div>



    }
    <div class="form-group">

        <a href="/Category/Index" class="btn btn-primary">Quay về trang chủ</a>

    </div>

</body>
</html>
